input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  list-style-type: disc;
  color: white;
  background: #dc3545;
  border-radius: 2px;
  margin: 2px 0 3px;
  padding: .3rem 2rem;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;  
}
.parsley-errors-list > ul > li{
  margin:2px 0;
}

.parsley-errors-list.filled {
  opacity: 1;
}