/*Sidebar Theme*/
.current-url{
	background:#678dff;
}
#footera,#sidebar,#sidebar.active,
#sidebar ul li.active>a,
a[aria-expanded="true"]{
    background:#4169E1;
    color:#fff;
}
#dismiss,#sidebar .sidebar-header {
    background: #4169E1;
}
#sidebar ul li a:hover {
    color: #4169E1;
    background: #fff;
}
ul ul a {
    background: #00BFFF;
}