/*Sidebar Theme*/
.current-url{
	background:#6587a9;
}
#footera,#sidebar,#sidebar.active,
#sidebar ul li.active>a,
a[aria-expanded="true"]{
    background:#2c3e50;
    color:#fff;
}
#dismiss,#sidebar .sidebar-header {
    background: #2c3e50;
}
#sidebar ul li a:hover {
    color: #2c3e50;
    background: #fff;
}
ul ul a {
    background: #3386d8;
}