/*Sidebar Theme*/
.current-url{
	background:#5fd08f;
}
#footera,#sidebar,#sidebar.active,
#sidebar ul li.active>a,
a[aria-expanded="true"]{
    background:#2ecc71;
    color:#fff;
}
#dismiss,#sidebar .sidebar-header {
    background: #2ecc71;
}
#sidebar ul li a:hover {
    color: #2ecc71;
    background: #fff;
}
ul ul a {
    background: #7ebd2a;
}